/* ===================   PAGINA NUMERO 02 HTML ==================================================== */

h1{
    color: #1C6C80;
}

#titulo{
    text-align: center;
    font-size: 28px;
    color: #1C6C80;
}

strong{
    color: black; 
}

.sobre{
    max-width: 800px;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    letter-spacing: .2rem;
    text-align: justify;
    color: rgb(90, 90, 90);
    border: 2px dotted #1C6C80;
    border-radius: 20px;
}