/* @import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap')*/
@font-face{
    font-family: orbitron;
    src: url(orbitron/Orbitron-Bold.ttf)format('truetype');

}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, #1C6C80, #83E5FD, #38D5FC, #1C6C80);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    font-family: 'orbitron';
    font-size: 20px;
    width: 100%;
    margin: auto;
}

header{
    min-height: 150px;
    text-align: center;
}

nav li  {
    display: inline;
}

#menu
{
    max-width: 500px;
    margin: auto;
}

#menu a
{ 
    margin-top: 10px;
    color:#38D5FC;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu a:hover
{
    border-bottom: 2px solid #1C6C80;
}

img#logo_cityzen {
    display: block;
    margin: 20px auto;
}

main{
    padding: 20px;
    margin: auto;
    max-width: 951px;
    min-width: 320px;
    min-height: auto;
}

.paragrafo{
    color: #1C6C80;
    margin: 30px;
    height: auto;
    width: auto;
    font-size: 18px;
    display: block; 
    letter-spacing: 1.7px;
}

main > p > picture {
    max-width: 400px;
    max-height: 400px;
    margin: 0 20px 20px 20px;
    float: left;  
}

main > p > picture > img{
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 3px 2px rgb(0, 0, 0);
    border-radius: 20px;
    width: 100%;
}

.caixa{
    position: relative;
    max-width: 940px;
    margin: auto;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    height: auto;    
    text-align: center;
    font-size: 15px;
    color: #1C6C80;
    margin: auto;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    letter-spacing: 1px;
}

/* ===================   PAGINA NUMERO 02 HTML ==================================================== */

h1{
    color: #1C6C80;
}

#titulo{
    text-align: center;
    font-size: 28px;
    color: #1C6C80;
}

strong{
    color: #1C6C80;
}

.sobre{
    display: block;
    margin: auto;
    font-size: 18px;
    color:white;
    height:auto;
    max-width: 800px;
    text-align: justify;
    padding: 10px;
    border: 1px solid #1C6C80;
    border-radius: 20px;
    letter-spacing: .2rem;
}




